.portfolio {
    padding: 6rem 2rem;
  }
  
  .projectImage {
    border: 0.2px solid #bdbcbcd0; 
    max-width: 60%;
    height: auto;
    margin: 5rem 2rem 2rem;
    border-radius: 5px;
  }
  
  .button--primary {
    margin-top: 0.5rem;
    color: rgb(247, 243, 243);
    background-color: #0078e7;
    margin-bottom: 10rem;
  }
  